{% load static %}
<!-- About Section -->
<section id="about" class="about section">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2"
                 data-aos="fade-up"
                 data-aos-delay="100">
                <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 order-2 order-lg-1 content"
                 data-aos="fade-up"
                 data-aos-delay="200">
                <h3>Master Coding Skills</h3>
                <p class="fst-italic">
                    MentorMe connects aspiring developers with expert programmers who provide personalized instruction and career guidance.
                </p>
                <ul>
                    <li>
                        <i class="bi bi-check-circle"></i> <span>Learn from experienced developers and industry professionals</span>
                    </li>
                    <li>
                        <i class="bi bi-check-circle"></i> <span>One-on-one tutoring tailored to your learning pace</span>
                    </li>
                    <li>
                        <i class="bi bi-check-circle"></i> <span>Career mentorship from senior engineers and tech leads</span>
                    </li>
                </ul>
                <a href="/about/" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- /About Section -->
<!-- Counts Section -->
<section id="counts" class="section counts light-background">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0"
                          data-purecounter-end="{{ total_students }}"
                          data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Students</p>
                </div>
            </div>
            <!-- End Stats Item -->
            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0"
                          data-purecounter-end="{{ total_tutors }}"
                          data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Expert Tutors</p>
                </div>
            </div>
            <!-- End Stats Item -->
            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0"
                          data-purecounter-end="{{ total_mentors }}"
                          data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Career Mentors</p>
                </div>
            </div>
            <!-- End Stats Item -->
            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0"
                          data-purecounter-end="{{ open_jobs }}"
                          data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Available Jobs</p>
                </div>
            </div>
            <!-- End Stats Item -->
        </div>
    </div>
</section>
<!-- /Counts Section -->
