{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <!-- Page Title -->
        <div class="page-title" data-aos="fade">
            <div class="heading">
                <div class="container">
                    <div class="row d-flex justify-content-center text-center">
                        <div class="col-lg-8">
                            <h1>Membership Plans</h1>
                            <p class="mb-0">
                                Select the account that best suits your needs. Whether you’re a student looking for guidance,
                                a tutor wanting to offer your expertise, a freelancer ready for new job opportunities,
                                or a mentor to share your experience, our flexible plans empower your growth.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="breadcrumbs">
                <div class="container">
                    <ol>
                        <li>
                            <a href="">Home</a>
                        </li>
                        <li class="current">Pricing</li>
                    </ol>
                </div>
            </nav>
        </div>
        <!-- End Page Title -->
        <!-- Pricing Section -->
        <section id="pricing" class="pricing section">
            <div class="container">
                <div class="row gy-3">
                    <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="pricing-item">
                            <h3>Student</h3>
                            <h4>
                                <sup>$</sup>0<span>/ month</span>
                            </h4>
                            <ul>
                                <li>Browse offers from tutors and mentors.</li>
                                <li>Post jobs and project requests for freelancers.</li>
                                <li>Secure payments handled through the platform</li>
                                <li class="na">List tutoring services</li>
                                <li class="na">Access and take jobs</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Pricing Item -->
                    <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="pricing-item featured">
                            <h3>Tutor</h3>
                            <h4>
                                <sup>$</sup>19<span>/ month</span>
                            </h4>
                            <ul>
                                <li>Post and manage tutoring offers.</li>
                                <li>Get inquiries directly from interested students.</li>
                                <li>Secure payments handled through the platform.</li>
                                <li>Receive notifications when students engage.</li>
                                <li class="na">Browse and apply for student-posted jobs.</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Pricing Item -->
                    <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="pricing-item">
                            <h3>Freelancer</h3>
                            <h4>
                                <sup>$</sup>29<span>/ month</span>
                            </h4>
                            <ul>
                                <li>Post offers for tutoring or freelance projects.</li>
                                <li>Browse and apply for student-posted jobs.</li>
                                <li>Secure payments handled through the platform.</li>
                                <li>lorem ipsum</li>
                                <li class="na">Feature your profile on the dedicated mentor page.</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Pricing Item -->
                    <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="pricing-item">
                            <span class="advanced">Advanced</span>
                            <h3>Mentor</h3>
                            <h4>
                                <sup>$</sup>49<span>/ month</span>
                            </h4>
                            <ul>
                                <li>Feature your profile on the dedicated mentor page.</li>
                                <li>Receive direct inquiries from students.</li>
                                <li>Secure payments handled through the platform</li>
                                <li>Offer mentorship via monthly subscriptions or per-session bookings.</li>
                                <li>List tutoring, freelance, and mentoring services</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Pricing Item -->
                </div>
            </div>
        </section>
        <!-- /Pricing Section -->
    </main>
{% endblock %}
