{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <section id="register" class="section register-page">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="form-container" data-aos="fade-up">
                            <h2 class="text-center mb-4">Register</h2>
                            <form action="/register/" method="post" class="php-email-form">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
